#mac file distribution
.DS_Store

## __pycache__ files
__pycache__/
app/__pycache__/
app/helpers/__pycache__/

# Environments
cymbal_agent/.env
cymbal_agent/.venv
cymbal_agent/env/
cymbal_agent/venv/
cymbal_agent/ENV/

# NDA Files
data/*
archived/*
scripts/*
*.json